In [1]:
import pandas as pd

In [140]:
# load IKEM dataset info
ikem_info = pd.read_parquet(r'C:\Users\kajin\PhD\ESO\eso_multimodal_dataset\dataset\info_ikem.parquet')
ikem_info

,hydra_tail,site,patient,group,birth_year,visit_age,visit_date,visit_no,sex,male,...,right_handed,first_symptoms_date,first_symptoms_age,dup,dx_to_mri,gaf,panss_pos,panss_neg,panss_glob,panss_tot
hydra_id,,,,,,,,,,,,,,,,,,,,,
ESOC10006,10006,ikem,0,control,1985,24.8,2010-07-23,1,F,0,...,1.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ESOC10013,10013,ikem,0,control,1982,27.7,2010-07-15,1,F,0,...,1.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ESOC10015,10015,ikem,0,control,1976,34.2,2010-09-08,1,F,0,...,1.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ESOC10017,10017,ikem,0,control,1981,29.0,2010-07-16,1,F,0,...,1.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ESOC10018,10018,ikem,0,control,1978,31.9,2010-07-19,1,M,1,...,1.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ESOP00173,173,ikem,1,patient,1980,34.3,2014-04-08,1,M,1,...,1.0,2014-06-15,34.2,NaN,2.0,40.0,11.0,25.0,45.0,81.0
ESOP00176,176,ikem,1,patient,1994,20.2,2014-08-14,1,F,0,...,0.0,2014-01-02,19.6,5.0,6.0,46.0,16.0,27.0,46.0,89.0
ESOP00177,177,ikem,1,patient,1992,22.0,2014-11-08,1,M,1,...,1.0,2014-06-15,21.9,1.0,2.0,55.0,13.0,20.0,45.0,78.0
ESOP00178,178,ikem,1,patient,1979,34.6,2014-11-08,1,M,1,...,1.0,2014-06-24,34.5,NaN,2.0,58.0,18.0,14.0,38.0,70.0
ESOP00205,205,ikem,1,patient,1983,31.6,2014-08-09,1,M,1,...,1.0,2014-01-07,31.4,1.0,2.0,NaN,21.0,16.0,39.0,76.0

In [141]:
ikem_info.loc[:, 'ids'] = ikem_info.index

# Move the 'index' column to the 0th position
cols = ikem_info.columns.tolist()  # Get the list of columns
cols = cols[-1:] + cols[:-1]  # Move the last column to the first position
ikem_info = ikem_info.loc[:, cols]

ikem_info

,ids,hydra_tail,site,patient,group,birth_year,visit_age,visit_date,visit_no,sex,...,right_handed,first_symptoms_date,first_symptoms_age,dup,dx_to_mri,gaf,panss_pos,panss_neg,panss_glob,panss_tot
hydra_id,,,,,,,,,,,,,,,,,,,,,
ESOC10006,ESOC10006,10006,ikem,0,control,1985,24.8,2010-07-23,1,F,...,1.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ESOC10013,ESOC10013,10013,ikem,0,control,1982,27.7,2010-07-15,1,F,...,1.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ESOC10015,ESOC10015,10015,ikem,0,control,1976,34.2,2010-09-08,1,F,...,1.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ESOC10017,ESOC10017,10017,ikem,0,control,1981,29.0,2010-07-16,1,F,...,1.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ESOC10018,ESOC10018,10018,ikem,0,control,1978,31.9,2010-07-19,1,M,...,1.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ESOP00173,ESOP00173,173,ikem,1,patient,1980,34.3,2014-04-08,1,M,...,1.0,2014-06-15,34.2,NaN,2.0,40.0,11.0,25.0,45.0,81.0
ESOP00176,ESOP00176,176,ikem,1,patient,1994,20.2,2014-08-14,1,F,...,0.0,2014-01-02,19.6,5.0,6.0,46.0,16.0,27.0,46.0,89.0
ESOP00177,ESOP00177,177,ikem,1,patient,1992,22.0,2014-11-08,1,M,...,1.0,2014-06-15,21.9,1.0,2.0,55.0,13.0,20.0,45.0,78.0
ESOP00178,ESOP00178,178,ikem,1,patient,1979,34.6,2014-11-08,1,M,...,1.0,2014-06-24,34.5,NaN,2.0,58.0,18.0,14.0,38.0,70.0
ESOP00205,ESOP00205,205,ikem,1,patient,1983,31.6,2014-08-09,1,M,...,1.0,2014-01-07,31.4,1.0,2.0,NaN,21.0,16.0,39.0,76.0

In [124]:
# filter subjects contained in my dataset
ikem_all_ids = ikem_info.filter(like='ids')
ikem_subset_ids = pd.read_csv(r'C:\Users\kajin\PhD\ESO\subs_names_fov5.txt', header=None, names = ['hydra_id'])
ikem_subset_ids = ikem_subset_ids.filter(like='hydra_id')
ikem_subset_ids = ikem_subset_ids['hydra_id'].str.replace('_','')
ikem_subset_ids = ikem_subset_ids.str[0:9]
ikem_subset_ids = ikem_subset_ids.to_frame()

In [125]:
ikem_all_ids

                 ids
hydra_id
ESOC10006  ESOC10006
ESOC10013  ESOC10013
ESOC10015  ESOC10015
ESOC10017  ESOC10017
ESOC10018  ESOC10018
...              ...
ESOP00173  ESOP00173
ESOP00176  ESOP00176
ESOP00177  ESOP00177
ESOP00178  ESOP00178
ESOP00205  ESOP00205

[184 rows x 1 columns]

In [126]:
ikem_subset_ids

      hydra_id
0    ESOC00221
1    ESOC00226
2    ESOC10087
3    ESOC10089
4    ESOC10090
..         ...
126  ESOP00240
127  ESOP00241
128  ESOP00242
129  ESOP00244
130  ESOP00531

[131 rows x 1 columns]

In [138]:
matching_rows = []

for index_A, row_A in ikem_info.iterrows():
    for index_B, row_B in ikem_subset_ids.iterrows():
        if row_A['ids'] == row_B['hydra_id']:
            matching_rows.append((index_A, index_B, row_A['ids']))

matching_df = pd.DataFrame(matching_rows, columns=['Index_A', 'Index_B', 'Text'])

In [139]:
matching_df

      Index_A  Index_B       Text
0   ESOC10087        2  ESOC10087
1   ESOC10089        3  ESOC10089
2   ESOC10090        4  ESOC10090
3   ESOC10091        5  ESOC10091
4   ESOC10092        6  ESOC10092
5   ESOC10093        7  ESOC10093
6   ESOC10096        8  ESOC10096
7   ESOC10098        9  ESOC10098
8   ESOC10099       10  ESOC10099
9   ESOC10101       12  ESOC10101
10  ESOC10102       13  ESOC10102
11  ESOC10104       15  ESOC10104
12  ESOC10105       16  ESOC10105
13  ESOC10106       17  ESOC10106
14  ESOC10108       18  ESOC10108
15  ESOC10110       20  ESOC10110
16  ESOC10112       22  ESOC10112
17  ESOC10113       23  ESOC10113
18  ESOC10114       24  ESOC10114
19  ESOC10115       25  ESOC10115
20  ESOC10116       26  ESOC10116
21  ESOC10117       27  ESOC10117
22  ESOC10118       28  ESOC10118
23  ESOC10119       29  ESOC10119
24  ESOC10120       30  ESOC10120
25  ESOC10121       31  ESOC10121
26  ESOC10122       32  ESOC10122
27  ESOC10123       33  ESOC10123
28  ESOP00124       55  ESOP00124
29  ESOP00128       57  ESOP00128
30  ESOP00132       59  ESOP00132
31  ESOP00135       61  ESOP00135
32  ESOP00136       62  ESOP00136
33  ESOP00137       63  ESOP00137
34  ESOP00138       64  ESOP00138
35  ESOP00142       66  ESOP00142
36  ESOP00143       67  ESOP00143
37  ESOP00146       68  ESOP00146
38  ESOP00147       69  ESOP00147
39  ESOP00148       70  ESOP00148
40  ESOP00149       71  ESOP00149
41  ESOP00153       72  ESOP00153
42  ESOP00155       74  ESOP00155
43  ESOP00156       75  ESOP00156
44  ESOP00158       76  ESOP00158
45  ESOP00159       77  ESOP00159
46  ESOP00167       83  ESOP00167
47  ESOP00169       84  ESOP00169
48  ESOP00170       85  ESOP00170
49  ESOP00173       87  ESOP00173
50  ESOP00176       88  ESOP00176
51  ESOP00177       89  ESOP00177
52  ESOP00178       90  ESOP00178
53  ESOP00205      109  ESOP00205